* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.header__contacts-list {
    display: flex;
    gap: 6px;
    flex-direction: column;
    list-style: none;
    margin-right: 30px;
}

.header__text{
    font-size: 14px;
}

.header__topics{
    font-size: 24px;
    margin-bottom: 5px;
}

.header__info {
    flex-grow: 1;
}

.header__contacts {
    text-align: right;;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px 0 30px 30px;
}

.line {
    max-width: 740px;
    margin-left: 30px;
}

.about {
    margin: 21px 30px 43px 30px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
}

.hobby__title {
    border: 1px solid #5A9645;
    color: #5A9645;
    text-align: center;
    margin-left: 30px;
    padding: 5px;
    border-radius: 3px 0 0 0;
}

.socials__title {
    border: 1px solid #5A9645;
    color: #5A9645;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    border-radius: 0 3px 0 0;
}

.hobby__content {
    border: 1px solid #5A9645;
    border-top-color: white;
    text-align: left;
    margin-left: 30px;
    border-radius: 0 0 0 3px;

}

.hobby__content-item {
    cursor: pointer;
}

.hobby__content-item:hover {
    color:#5A9645;
}

.hobby__content-list {
    margin: 17px 113px 25px 114px;
}

.socials__content-list {
    margin: 26px 138px 33px 145px;
}

.socials__content {
    border: 1px solid #5A9645;
    border-top-color: white;
    text-align: left;
    margin-right: 30px;
    border-radius: 0 0 3px 0;
}

.socials {
    font-size: 14px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    height: 110px;
    margin-bottom: 67px;
}

.technology {
    margin-bottom: 66px;
}

.technology__title {
    background: #5A9645;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    margin: 0 30px 30px 30px;
    padding: 5px;
}

.image {
    height: 50px;
    weight: 50px;
    margin-bottom: 12px;
    object-fit: contain;
}

.form__title {
    background: #5A9645;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    margin: 0 30px 30px 30px;
    padding: 5px;
}

.technology__image {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.technology__image:hover {
    box-shadow: 0 4px 20px 0 #5A9645;
    background: green;
}

.technology__items {
    justify-content: space-between;
    margin: 0 30px;
    display: flex;
    gap: 23px;
}

.form__input {
    margin: 0 30px 0 30px;
    color: #B8B8B8;
    border: 1px;
}

.form__input-name{
    border-radius: 5px;
}

.form__input-number{
    border-radius: 5px;
}

.form__input-question{
    border-radius: 5px;
}

.form__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 14px;
    gap: 14px;
    height: 35px;
}

.form__bottom {
    display: flex;
    flex-grow: 1;
    height: 104px;
}

.form__input-question {
    width: 100%;
}

.submit {
    display: flex;
    margin-top: 14px;
    border-radius: 5px;
    color: white;
    background-color: #5A9645;
    width: 125px;
    height: 33px;
    justify-self: center;
    align-items: center;
    justify-content: center;
}